<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div id="background">
        <div id="content">
          <img src="./images/sarahahLogo.jpg" width="150px" alt="">
          <h1>Digital Suggestion box</h1>
          <div id="loginform">
            <form action="/login" method="post">
              <input type="text" name="username" placeholder="username">
              <input type="password" name="password" placeholder="password">
              <input type="submit" value="Login">
            </form>
            <a id="loginLink" href="/register">don't have an account ?</a>
            <p>by clicking on login, create account, I agree to out terms and conditions <a href="#">terms and conditions</a></p>
          </div>
        </div>
      </div>
</body>
</html>